<md-toolbar md-scroll-shrink>
    <div layout="row" layout-align="center center" class="md-toolbar-tools subheader">About Us</div>
</md-toolbar>
<h1>Project Details</h1>
<div layout-xs="column" layout-gt-xs="row">
<md-card flex="55 88">
    <md-card-content>
        <p>Group members involved with POW-B Analytics are Sonia Pitrola, Nolan Walker, Mark O'Donnell and James Bergeron. For more information about the developers, see the brief bio's shown below. We pride ourselves on details and accuracy so enjoy.<br><br>
           POW-B was created as a partial requirement for the completion of the Mount Royal University Comp4513 Web III, taught by Randy Connolly.<br>
           The code we developed can be viewed and cloned with permission from our <a href="https://github.com/jadeclan/Assign2">Github repository</a>.

           For more project details please go to the Documentation page.</p>
    </md-card-content>
</md-card>
</div>
<md-divider></md-divider>


<h1>The Developer Leader</h1>
<div layout-xs="column" layout-gt-xs="row">
    <md-card flex="55 88" id="devLeader">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline" id="devLeaderName"><i>Mark O'Donnell</i></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img id="devLeaderImg" src="assets/images/crazyIrish.jpg" alt="Mark O'Donnell">
            <p class="about">
                The team (minus 1) got together and decided that we should celebrate the guidance and
                leadership that Mark has provided the team.  Mark has an unassuming style, which
                belies his knowledge of web based programming tools and techniques.  He likely
                could have completed this assignment in less time than the rest of us took to learn
                Angular.  However, he knew that we wanted to learn the tools and practice implementing
                the techniques we were learning, so he offered to guide us.
                He was able to inspire us to overcome obstacles, nudge us when needed and offer insightful
                hints  when the challenges seemed insurmountable.  Mark is a natural born teacher.
                Patient and respectful in his dealings with others. He is driven by coding excellence,
                yet able to resist unilaterally changing the work of others.  He shows professional coding
                structures, explains them, allows others to adapt them and has the skills and talents to
                repair the quirkiest of coding attempts.
                Mark is a highly valued team member.  We consider ourselves lucky to have been partnered
                with a pro.  All three of us would highly recommend Mark for his interpersonal,
                programming, leadership, teaching, time management and listening skills.
            </p>
        </md-card-content>
    </md-card>
</div>


<md-divider></md-divider>
<h1>The Developers</h1>
<div layout-xs="column" layout-gt-xs="row">
    <md-card flex="55 88">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Sonia Pitrola</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/cat_mosaic.jpg" alt="Sonia Pitrola">
            <p class="about">
                     Sonia, a student in her third year of the Bachelor of Computer Information Services,
                has a passion for web design.  She is always the first to seek out new CSS frameworks.
                Embracing the learning, she lights up when she discovers a feature that allows the web
                site to sizzle.
                <br/>
                     There is way more to her than eye candy.  Her methodical style, her drive and persistence
                contribute to making her a valued team member.  She is calm and always willing to help
                even after some team mates keep deleting random div tags.  Her only fault -- she has
                a phobia of pressing the submit button – what if we could have made it better? What if it
                goes to the wrong place? What if the wrong file gets sent to the wrong person?
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="55 88">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Nolan Walker</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/Philadelphia Flyers Banner.jpg" alt="Nolan Walker">
            <p class="about">
                Nolan, a third year BCIS student at Mount Royal University has a balanced approach to problem solving.
                He combines minimalistic coding style with a good understanding of the tools at his disposal.
                He seeks counsel and support to rapidly develop the code he needs. <br/>
                While definitely fleet of foot, he exhibits very poor judgement when it comes to pro hockey.
                He  is an enthusiastic team mate.  He took on the challenge of developing the project structure,
                documenting what he was doing so the rest of us could follow his logic and jumped right in to get
                the login features up and running.  His only fault -- always cognizant of the goals to be met with
                an eye on how much time is left to meet them.
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="55 88">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">James Bergeron</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/fupfever.png" alt="James Bergeron">
            <p class="about">
                James, approaching his 40th year of higher education, enjoys learning.  He loves learning
                so much that he relearns things multiple times, hence his commitment to try and document what
                the group does.  He tries to assure that the pieces fit together, make sense and are
                not superfluous to the intent.<br />
                He is a ravenous reader, but has an inability to read on line, so he is one of ABE Books
                best customers.  Such best sellers as jQuery in Easy Steps, PHP Web Services, and Textpattern
                Solutions line his floor.  He has a knack for finding bugs, being bamboozled by abstraction and
                going to bed before Nolan gets up.   Even though Sonia knows he deletes div tags on purpose, Nolan
                puts up with his odd hours and Mark doesn't really believe anyone really wants to know that
                much, he has fun.
            </p>
        </md-card-content>
    </md-card>
</div>

