<md-toolbar md-scroll-shrink>
    <div layout="row" layout-align="center center" class="md-toolbar-tools subheader">About Us</div>
</md-toolbar>
<h1>Project Details</h1>
<md-card layout-xs="row" layout-gt-xs="column">
    <md-card-content>
        <p>Group members involved with POW-B Analytics are Sonia Pitrola, Nolan Walker, Mark O'Donnell and James Bergeron. For more information about the developers, see the brief bio's shown below. We pride ourselves on details and accuracy so enjoy.<br><br>
           POW-B was created as a partial requirement for the completion of the Mount Royal University Comp4513 Web III, taught by Randy Connolly.<br>
           The code we developed can be viewed and cloned with permission from our <a href="https://github.com/jadeclan/Assign2">Github repository</a>.

           For more project details please go to the Documentation page.</p>
    </md-card-content>
</md-card>
<md-divider></md-divider>
<h1>The Developers</h1>
<div layout="row">
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Sonia Pitrola</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/cat_mosaic.jpg" alt="Sonia Pitrola">
            <p>
                Smart, committed, capable and hard working.  Oh wait .....
                Cute, friendly, caring, wee bit shy, Italian chick.  Oh wait .....
                Style queen, widget gadgeter, javaScript effect expert
                But does she keep her promises?<br />
                <em>Where's the dress?</em> one of her team mates from Web II
                wanted to know?<br />
                Like the side nav? How about that snazzy loading animation?  Inspiration at 2AM!!
                Except for color and sleep choices, she's good!
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Nolan Walker</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/Philadelphia Flyers Banner.jpg" alt="Nolan Walker">
            <p>
                When the world sees red, Nolan sees orange.  When his buddies
                say they are faster, he shows them.  A quick study, but a slow
                starter -- team morning meetings negotiated to as close as
                possible to lunch time -- something about beauty rest.  A flair
                for styling with a penchant for minimalistic php and javaScript
                functions that call other minimalistic functions to get the job
                done.  Quiet, steady, easy going team mate.
            </p>
        </md-card-content>
    </md-card>
</div>

<div layout="row">
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Mark O'Donnell</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/Donald-Trump-Wrestling-Rosie-O-Donnell.jpg" alt="Mark O'Donnell">
            <p>
                CrazyIrish? Have you seen the code he wrote for the MVC controller? CrazyIrish?
                Did he really convince the group to follow him down the MVC rabbit hole? CrazyIrish?
                Coach, educator, facilitator, thinker. Need to see recursive code in action?
                Want to see minimalistic PHP coding style? Looking for obscure PHP commands to do
                a job perfectly? Yup Crazy is right! No idea about the Irish part. The strong,
                silent type - almost apologetic about helping his team mates reach professional
                understandings of php / javascript / mysql and server management. On top of all
                that flattery, he enjoys a good beer! Ooops wrong O'Donnell on the picture.
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="50">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">James Bergeron</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center">
            <img src="assets/images/fupfever.png" alt="James Bergeron">
            <p>
                Wise, handsome, athletic, we could go on, but it would only embarass him.
                Never does something in 30 minutes when a whole day is available.
                When asked to add 2 and 2, he was observed to convert it to binary and
                end up with 100, perhaps that's why he's retired?  The team begged him
                to do the color styling, but were not prepared for the post apocalyptic
                neo modernistic clash style that he brought to the project.  He naturally
                slid into his other roles -- poker, prodder, documenter and integrator.
                All in all, one can say with confidence that James is the oldest in the
                group, class, and program.  Betting money is he won't graduate, but will
                make Nolan get up earlier!
            </p>
        </md-card-content>
    </md-card>
</div>

