<md-card flex="50">
    <md-card-title class="subheader">
        <md-card-title-text layout="row" layout-align="center center">
            <span class="md-headline">{{employee.firstname}}'s Book List</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content id="cardPadding">
        <div layout="row">
            <div flex="20">
                <a href="" ng-click="sortField='isbn10'; sortReverse = !sortReverse">ISBN 10
                    <span ng-show="sortField=='isbn10'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <div flex="60">
                <a href="" ng-click="sortField='title'; sortReverse = !sortReverse">Title
                    <span ng-show="sortField=='title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <div flex>
                <a href="" ng-click="sortField='category'; sortReverse = !sortReverse">Category
                    <span ng-show="sortField=='category'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" ng-repeat='e in employee.books | orderBy: sortField:sortReverse'>
            <div flex="20">{{ e.isbn10 }}</div>
            <div flex="60">{{ e.title }}</div>
            <div flex>{{ e.category }}</div>
        </div>
    </md-card-content>
</md-card>