<md-toolbar md-scroll-shrink>
    <div layout="row" layout-align="center center" class="md-toolbar-tools subheader">Documentation</div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Check List">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Check List</h1>
                    <span><iframe src="documentation/Requirements_Checklist.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Assignment">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Assignment</h1>
                    <p>INSERT THIS TAB'S CONTENT</p>
                </md-content>
            </md-tab>
            <md-tab label="Application Design">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Application Design</h1>
                    <p>INSERT THIS TAB'S CONTENT</p>
                </md-content>
            </md-tab>
            <md-tab label="GIT">
                <md-content class="md-padding">
                    <h1 class="md-display-2">GIT</h1>
                    <p>INSERT THIS TAB'S CONTENT</p>
                </md-content>
            </md-tab>
            <md-tab label="External Sources">
                <md-content class="md-padding">
                    <h1 class="md-display-2">External Sources</h1>
                    <p>INSERT THIS TAB'S CONTENT</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>