<md-toolbar md-scroll-shrink>
    <div layout="row" layout-align="center center" class="md-toolbar-tools subheader">Documentation</div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Check List">
                <md-content>
                    <h1 class="md-display-1">Check List</h1>
                    <span><iframe src="/documentation/Requirements_Checklist.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Assignment">
                <md-content>
                    <h1 class="md-display-1">Assignment</h1>
                    <span><iframe src="/documentation/COMP4513_Assignment2.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Application Design">
                <md-content>
                    <h1 class="md-display-1">Application Design</h1>
                    <span><iframe src="/documentation/project_design.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Login Design">
                <md-content>
                    <h1 class="md-display-1">Login Design</h1>
                    <p>Space for more docs</p>
                </md-content>
            </md-tab>
            <md-tab label="External Sources">
                <md-content>
                    <h1 class="md-display-1">External Sources</h1>
                    <md-card layout-xs="row" layout-gt-xs="column">
                        <md-card-content>
                            <md-list>
                                <h3>External Code</h3>
                                <md-divider></md-divider>
                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="https://material.angularjs.org/latest/">Angular Material</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="https://angular-ui.github.io/angular-google-maps/#!/">Angular Google Maps</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
                                    </div>
                                </md-list-item>

                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="#">Angular Column Sort by Randy Connolly</a>
                                    </div>
                                </md-list-item>
                                <md-divider></md-divider>
                                <h3>Images Used</h3>
                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="https://www.madirish.com">Crazy Irish Logo</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="https://commons.wikimedia.org/wiki/File:Cat_mosaic.JPG">Cat Mosaic</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="https://www.gpsgiftgallery.com/index.php?main_page=index&cPath=199">Philly Flyers Banner</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="http://www.theprofitablefirm.com/blog/category/prospecting-leads/">Circular Analysis</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="http://duallygirl1748.deviantart.com/art/kitten-play-270925938">Read Me Logo</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="http://www.jamiesale-cartoonist.com/business-man-cartoon-vector-free/">Login Cartoon Character</a>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>