<md-toolbar md-scroll-shrink>
    <div layout="row" layout-align="center center" class="md-toolbar-tools subheader">Documentation</div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Check List">
                <md-content>
                    <h1 class="md-display-1">Check List</h1>
                    <span><iframe src="/documentation/Requirements_Checklist.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Assignment">
                <md-content>
                    <h1 class="md-display-1">Assignment</h1>
                    <span><iframe src="/documentation/COMP4513_Assignment2.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Application Design">
                <md-content>
                    <h1 class="md-display-1">Application Design</h1>
                    <span><iframe src="/documentation/project_design.pdf#zoom=90"></iframe></span>
                </md-content>
            </md-tab>
            <md-tab label="Space for more docs">
                <md-content>
                    <h1 class="md-display-1">Space for more docs</h1>
                    <p>Space for more docs</p>
                </md-content>
            </md-tab>
            <md-tab label="External Sources">
                <md-content>
                    <h1 class="md-display-1">External Sources</h1>
                    <md-card layout-xs="row" layout-gt-xs="column">
                        <md-card-content>
                            <md-list>
                                <md-list-item class="md-1-line">
                                    <div class="md-list-item-text">
                                        <a href="#">Add Links Here</a>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <div class="md-list-item-text">
                                        <a href="#">Add Links Here 2</a>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>