<style>
    .ng-scope{width: auto;}
    body{background-color: #37474f; color: white;}
</style>

<div id="splash" layout="row" layout-align="center center">
    <md-card flex="60">
        <md-card-title class="employeeCardHeader">
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Pow-B Employee Login</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content id="employeeCard">
            <div layout="row" layout-align="space-around center">
                <form flex="50" ng-submit="login()">
                    <md-content class="md-no-momentum">
                        <div>
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <!--<label>Username:</label>-->
                                <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                <input ng-model="employee.username" type="text" placeholder="Username (required)" ng-required="true" required>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                                <input ng-model="employee.password" type="password" placeholder="Password (required)" ng-required="true" required>
                            </md-input-container>
                        </div>
                        <div flex="66">
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <md-button type="submit" class="md-raised md-button">Login</md-button>
                            </section>
                        </div>
                    </md-content>
                </form>
                <img flex="30" id="employeeIMG" src="assets/images/cartoon-business-man.png" title="Person Outline" alt="Person Outline">
            </div>
        </md-card-content>
    </md-card>
</div>



