<div layout-xs="column" layout-gt-xs="row">
<md-card flex>
    <md-card-title class="subheader">
        <md-card-title-text layout="row" layout-align="center center">
            <span class="md-headline">{{employee.firstname}}'s To Do List</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content id="cardwidth" class="cardPadding" ng-controller="toDoController">
        <div layout="row" class="cardContent">
            <div flex="10">
                <a href="" ng-click="sortField='task.date'; sortReverse = !sortReverse">Date
                    <span ng-show="sortField=='task.date'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <div flex="10">
                <a href="" ng-click="sortField='task.priority'; sortReverse = !sortReverse">Priority
                    <span ng-show="sortField=='task.priority'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <span flex></span>
            <div flex="10">
                <a href="" ng-click="sortField='task.status'; sortReverse = !sortReverse">Status
                    <span ng-show="sortField=='task.status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <span flex></span>
            <div flex="45">
                <a href="" ng-click="sortField='task.description'; sortReverse = !sortReverse">Description
                    <span ng-show="sortField=='task.description'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </div>
            <span flex="10" class="fontColor">
                Update
            </span>
            <span flex class="fontColor">
                Delete
            </span>
        </div>
        <md-divider class="dividerMargin"></md-divider>
        <div layout="row" ng-repeat='task in employee.todo | orderBy: sortField:sortReverse'>
            <div flex="10">{{ task.date | date:'shortDate'}}</div>
            <md-chips flex="10">
                <md-chip ng-class="task.priority;">{{ task.priority }}</md-chip>
            </md-chips>
            <span flex></span>
            <md-chips flex="10">
                <md-chip ng-class="task.status;">{{ task.status }}</md-chip>
            </md-chips>
            <span flex></span>
            <!--<div flex="15">{{ task.status }}</div>-->
            <div class="wrapDescription" flex="45">{{ task.description }}</div>
            <div flex="10">
                <md-checkbox aria-label="Update Selected" type="checkbox" ng-model="task.updateSelected" ng-click="updateSelection(task)"/>
            </div>
            <div flex="5" >
                <md-checkbox type="checkbox" aria-label="Delete Selected" ng-model="task.deleteSelected" ng-click="deleteSelection(task)"/>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button ng-click="newToDo(employee)" class="md-button md-raised">Create a new To Do</md-button>
        </div>
    </md-card-content>
</md-card>
</div>