body{
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6{
    color: #bf360c;
}


.subheader{
    background-color: #37474f;
    color: white;
    font-size: 24px;
}

md-card{
    box-shadow: 0 2px 5px 0 #006064;
}

#powbLogo{
    font-size: 36px;
    color: #fff;
}

a{
    color: #bf360c;
    text-decoration: none;
}

a:hover{
    color: #f50057;
    text-decoration: none;
}

footer{
    background-color: #cfd8dc;
    padding: 1% 0 1% 0;
}

#topsidebar{
    background-color: #bf360c;
    box-shadow: 0 2px 5px 0 #006064;
}

md-sidenav{
    max-width: 220px;
}

#topsidebar h4{
    color: white;
}

md-list{
    font-size: 18px;
}

#bottomsidebar{
    background-color: #ECEFF1;
}

.ng-scope {
    height: 100%;
    width: 100%;
}

iframe{
    width: 99%;
    height: 800px;
}

md-tabs .md-tab.md-active {
    color: #f50057;
}

md-tabs md-ink-bar{
    background-color: #f50057;
}

md-tabs .md-tab{
    color: #006064;
}

#employeeName{
    margin-top: 0;
    margin-bottom: 26px;
}

#welcome{
    margin-bottom: 0;
}


.employeeCardHeader{
    background-color: #006064;
    color: white;
}

.md-button.md-raised{
    background-color: #E64A19;
    color: #fff;
}

.md-button:hover{
    color: black;
}

#employeeCard{
    margin-top: 2%;
}

#employeeIMG{
    border: 1px inset #FF5722;
}

#app[style]{
    display: flex !important;
}

p.about{
    text-indent: 50px;
}

p.about::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

md-list-item.md-3-line{
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

#messageList{
    max-height: 522px;
    overflow-y: auto;
}

.messageUniLink{
    font-size: 16px;
}

.cardPadding{
    padding-top: 2%;
}

.fontColor{
    color:#bf360c
}

.cardContent{
    padding-bottom: 1%;
}

.dividerMargin{
    margin-bottom: 1%;
}

#dashboardCards div{
    display: flex;
}

.md-button.md-fab{
    line-height: 42px;
    width: 45px;
    height: 45px;
}

.md-button.md-fab:hover{
    background-color: transparent;
}


.deletePadding{
    padding:8px 0 8px 8px;
}

.activeLink{
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

md-list-item.md-no-proxy{
    padding: 0 8px;
}

#cardwidth{
    width: inherit;
}

md-chips .md-chips{
    box-shadow: none;
}

.md-chips .md-chip{
    height: inherit;
    line-height: inherit;
    margin: 0;
}

.high, .active{
    background-color: #F44336 !important;
    color: #fff !important;
}

.medium, .pending{
    background-color: #FF9100 !important;
    color: #fff !important;
}

.low, .completed{
    background-color: #4CAF50 !important;
    color: #fff !important;
}

.wrapDescription{
    word-wrap: break-word;
}

label{
    font-size: 16pt;
}

#messageList md-list-item.md-no-proxy{
    padding: 8px 0 8px 0;
}

.angular-google-map-container{
    height: 300px;
    width: 300px;
}

#devLeader{
    box-shadow: 0 2px 5px 0 #1B5E20;
}

#devLeaderName{
    color: #1B5E20;
    font-size: 22pt;
    font-weight: bold;
}

#devLeaderImg{
    width: 300px;
}