<md-dialog style="width:750px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{employee.firstname}} Please Confirm Delete
            <md-dialog-actions>
                <a role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <div ng-controller="deleteCtlr">
        <md-card-content class="cardPadding" >
            <p>To Do: {{ task.description }}</p>
            <p>Last Updated: {{task.date }}</p>
            <p>Priority: {{task.priority}}</p>
            <p>Status: {{task.status}}</p>
            <md-divider class="dividerMargin"></md-divider>
            <md-button ng-click="deleteToDo(task)" class="md-button md-raised">Hasta La Vista, Baby!</md-button>
        </md-card-content>
    </div>
</md-dialog>