<md-dialog style="width:550px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{employee.firstname}} Please Confirm Delete
            <md-dialog-actions>
                <a role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <div class="deletePadding" layout="column" ng-controller="deleteCtlr">
        <p><b>Description:</b> {{ deleteTask.description }}</p>
        <p><b>Date:</b> {{ deleteTask.date }}</p>
        <p><b>Priority:</b> {{ deleteTask.priority}}</p>
        <p><b>Status:</b> {{ deleteTask.status}}</p>
    </div>
    <md-divider class="dividerMargin"></md-divider>
    <div layout="row" layout-align="center center">
        <md-button ng-click="deleteToDo(deleteTask)" class="md-button md-raised">Delete ToDo</md-button>
    </div>
</md-dialog>