<md-dialog style="max-width:800px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{ contact.name }}
            <md-dialog-actions>
                <a href role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout-xs="column" layout-gt-xs="row">
            <md-card>
                <md-card-content>
                    <h2>Address</h2>
                    <p>
                        <i>{{ contact.address }}<br>
                           {{ contact.city }}, {{ contact.state }} <br>
                           {{ contact.zip }}</i> <br>
                    </p>
                    <md-divider></md-divider>
                    <h2>Additional Information</h2>
                    <b>Website: </b> <a href="http://{{ contact.website }}">{{ contact.website }}</a> <br>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content>
                    <h2>Location</h2>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </md-card-content>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>