<style>
    #map{
        height: 300px;
        width: 300px;
    }
</style>

<md-dialog style="max-width:800px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{ contact.name }}
            <md-dialog-actions>
                <a role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout-xs="column" layout-gt-xs="row">
            <md-card>
                <md-card-content>
                    <h2>Address</h2>
                    <p>
                        <i>{{ contact.address }}<br>
                           {{ contact.city }}, {{ contact.state }} <br>
                           {{ contact.zip }}</i> <br>
                    </p>
                    <md-divider></md-divider>
                    <h2>Additional Information</h2>
                    <b>Website: </b> <a href="http://{{ contact.website }}">{{ contact.website }}</a> <br>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content>
                    <h2>Location</h2>
                    <div id="map"></div>
                    <b><span id="latitude">{{ contact.latitude }}</span>, <span id="longitude">{{ contact.longitude }}</span></b>
                </md-card-content>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>


<script>
    var map;
    function initMap() {
        var latitude = document.getElementById('latitude').innerText;
        var longitude = document.getElementById('longitude').innerText;
        if (latitude === null || latitude == '') {
            document.getElementById('map').innerHTML = "<h3>N/A</h3>";
        } else if (longitude === null || longitude == '') {
            document.getElementById('map').innerHTML = "<h3>N/A</h3>";
        } else {
            var location = {lat: Number(latitude), lng: Number(longitude)};
            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 8
            });
            addMarker(location, map);

            function addMarker(location, map) {
                var marker = new google.maps.Marker({
                    position: location,
                    animation: google.maps.Animation.DROP,
                    map: map
                });

            }
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCId0Q2FUMjLkN40W5Rl2qaUXACu_uaY5M&callback=initMap" async defer></script>