<md-dialog style="width:750px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{ employee.firstname }} Add a To Do
            <md-dialog-actions>
                <a role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
        <div ng-controller="newToDoCtrl">
            <form class="md-dialog-content" name="newToDo" required>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Task</label>
                        <input ng-model="newTask.description" name="newDescription" ng-pattern="/^[0-9a-zA-Z \_\.\-\,\+]+$/" ng-required="true" required>
                        <span ng-show="newToDo.newDescription.$error.pattern">Only a-z, A-Z, 0-9, comma, space, underline, period, plus and dash are allowed</span>
                        <span ng-show="newToDo.newDescription.$error.required">This field is required!</span>
                    </md-input-container>
                    <md-datepicker ng-model="newTask.date" md-placeholder="Enter date"></md-datepicker>
                </div>

                <div layout="row">
                    <md-input-container>
                        <!--<h4 for="repeatSelectP" class="md-title">Priority</h4>-->
                        <label>Priority</label>
                        <md-select aria-label="Priority Selected" ng-model="newTask.priority">
                            <md-option ng-repeat="item in priorities" value="{{item}}">{{item}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <!--<h4 for="repeatSelect" class="md-title">Status</h4>-->
                        <label>Status</label>
                        <md-select aria-label="Status Selected" ng-model="newTask.status">
                            <md-option ng-repeat="item in statuses" value="{{item}}">{{item}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button ng-click="addRecord(newTask, newToDo)" class="md-button md-raised">Save to List</md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>

<!--Only Kept this for a reference, but try to use the above stuff and chips/badges are still not working-->
<!--<div class="md-dialog-content" layout-xs="column" layout-gt-xs="row" ng-controller="newToDoCtrl">-->
<!--<form name="newToDo">-->
<!--<p>Task<input type="text" ng-model="newTask" /></p>-->
<!--<p>-->
<!--<label for="repeatSelect">Select a Priority</label>-->
<!--<select name="priority" id="repeatSelect" ng-model="priority.repeatSelect">-->
<!--<option ng-repeat="p in priorities" value="{{p.index}}">{{p}}</option>-->
<!--</select>-->
<!--</p>-->
<!--<p>-->
<!--<label for="repeatSelect">Select a Status</label>-->
<!--<select name="status" id="repeatSelect" ng-model="status.repeatSelect">-->
<!--<option ng-repeat="s in statuses" value="{{s.index}}">{{s}}</option>-->
<!--</select>-->
<!--</p>-->
<!--<p ng-model="date">Date: {{date | date:'dd-MM-yyyy'}}</p>-->
<!--</form>-->
<!--<md-button ng-click="addRecord()">Save to List</md-button>-->
<!--</div>-->

