<md-dialog style="max-width:800px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader"> Yo Yo What's up?
            <md-dialog-actions>
                <a role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
            Yo stuff go here!!!!
    </md-dialog-content>
</md-dialog>
