<md-dialog style="width:750px;max-height:810px; ">
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools subheader">{{ employee.firstname }} Edit This To Do and save or cancel
            <md-dialog-actions>
                <a href role="button" ng-click="closeDialog()"><i class="material-icons">clear</i></a>
            </md-dialog-actions>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
        <div ng-controller="updateToDoCtrl">
            <form class="md-dialog-content" name="updateToDo">
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Task</label>
                        <input ng-model="updateTask.description" name="updatedDescription" ng-pattern="/^[0-9a-zA-Z \_\.\-\,\+]+$/" ng-required="true" required>
                        <span ng-show="updateToDo.newDescription.$error.pattern">Only a-z, A-Z, 0-9, comma, space, underline, period, plus and dash are allowed</span>
                        <span ng-show="updateToDo.newDescription.$error.required">This field is required!</span>
                    </md-input-container>
                    <md-datepicker ng-model="updateTask.date" md-placeholder="Enter date"></md-datepicker>
                </div>

                <div layout="row">
                    <md-input-container>
                        <label>Priority</label>
                        <md-select aria-label="Priority Selected" ng-model="updateTask.priority">
                            <md-option ng-repeat="item in priorities" value="{{item}}">{{item}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Status</label>
                        <md-select aria-label="Status Selected" ng-model="updateTask.status">
                            <md-option ng-repeat="item in statuses" value="{{item}}">{{item}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button ng-click="updateRecord(updateTask, updateToDo)" class="md-button md-raised">Save to List</md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>